/*
Colors:
#FBFBFC
#BABEC6
#181413
#433E3D
#837C7F
*/
/*

*/
/*Fonts Import*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
 
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	/* show a hand cursor on hover; some argue that we
	should keep the default arrow cursor for buttons */
	cursor: pointer;
}

body {
    font-family:'Times New Roman';
    background-color: #fbfbfc;
}

header {
    height: 70px;
    width: 100%;
    color: #433E3D;
    font-family:'Roboto', sans-serif;
    font-size: 18px;

    padding: 0 70px;
}


.header-container {
    display: inline-block;
    width: 33%;
    padding: 30px 0;
}


nav {
    width:100%;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav ul, li{
    display: inline-block;
    list-style-type: none;
}

nav li {
    position: relative;
    margin-right: 5px;
}

nav li img {
    width: 0.5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

nav li:hover .dropdown-content {
    display: block;
}

.teste-logo {
    display: inline-block; 
    padding: 10px; 
    border-radius: 50%; 
    background-color: #181413;
    color: white;
    text-align: center;
    transition: background-color 0.3s;
}

.teste-logo:hover {
    background-color: #433E3D;
    cursor: pointer;
}

.main-title {
    display: inline-block;
    font-size: 18px;
}

.main-title:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
  
    border: solid 1px transparent;
    border-radius: 4px;

    padding: 0.5em 1em;
    outline: none;
    /* make sure colors have enough contrast! */
    background-color: #FBFBFC;
    color: #433E3D;
}
  
/* Firefox: removes the inner border shown on focus */
.btn::-moz-focus-inner {
border: none;
}

/* old-school "down" effect on clic + color tweak */
.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

/* inverse colors on mouse-over */
.btn:hover,
.btn:focus {
    color: #FBFBFC;
    border-color: currentColor;
    background-color: #433E3D;
}

.login-btn {
    font-weight: bold;
    background-color: #FBFBFC;
    color: #433E3D;
}

.signup-btn {
    font-weight: bold;
    background-color: #433E3D;
    color: #FBFBFC;
}

.buttons-container {
    text-align: right;
}

