main {
    width: 100%;
}

.text-container {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    color: #433e3d;
    padding: 0 70px;
}

.title {
    display: inline;
    width: 50%;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
}

.text-container span {
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

.pic-container {
    width: 100%;
}

.pic-container img {
    width: 100%;
}

.play-button {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 1px grey;
    padding: 4px;
    background-color: #FBFBFC;
    text-align: center;
    text-decoration: none;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

    position: absolute;
}

.play-button:hover {
    background: #BABEC6;
    transform: scale(1.03);
}

.big-image {
    display: flex;

}