/*
colors:

#160E08
#FCFCFC
#AB4221
#535632
#BAA89F
#CA985A
#967E6B
*/

/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap'); /*

font-family: 'Pacifico', cursive;

font-family: 'Roboto', sans-serif;

*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 2px); /*18px;*/
}

.header-container {
    width: 100%;
    min-height: 70px;
    background-color: #160E08;
    color: #FCFCFC;
    position:relative;
}

.logo-container {
    display:inline-block;
    height: 100%;
    position: absolute;
    top: 1em;
    left: 1em;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

.navigation-container {
    display: inline-block;
    height:100%;
    top: 1.5em;
    right: 5em;
    position: absolute;
}

.nav-items {
    font-size: 1.5em;          /*Porque ficou bonito não sei se preciso arrumar isso*/
    list-style-type: none;
}

.nav-items li {
    display:inline;
    margin-left: 18px;
}

a {
    text-decoration: none;
    color:inherit;
}

.nav-items li:hover {
    color:#CA985A;
}

.bigPic-container {
    position: relative;    
}

.main-pic {
    width: 100%;
    filter: blur(0.5px);
}

.box {
    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    top: 6em;
    left: 4em;
    max-width: 600px;

    word-break: break-all;
    text-align: justify;
    color: #fcfcfc;

    padding: 1em;

    z-index: 2;
}

.box h1, p {
    padding: 0.5em 0;
}

.imglists-container {
    margin: 20px 0;
}

.list-container {
    display: inline-block;
    margin: 0 auto;
}

.list-container li{
    display: inline-block;
    text-align: center;
    width: 25%;
    border: 3px solid #160E08;
    border-radius: 3px;
    padding: 2px;
}

.list-container img {
    width:85%;
}

